<a href="https://colab.research.google.com/github/thimaporn-r/data_viz/blob/main/Function_Loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = 'ธิมาพร'
surname = 'รอดจินดา'
ID = '613020553-4'

In [ ]:

b = f'ชื่อ {name} นามสกุล {surname}'
print(b)

ชื่อ ธิมาพร นามสกุล รอดจินดา

``` python 
def function_name(_Input_) :
  do_something with _Input_ to get _output_
  return _Output_
```

In [ ]:
``` python 
def function_name(_Input_) :
  do_something with _Input
```

function  มีส่วนสำคัญทั้งหมด 4 ส่วน
1. บอก python ว่าเราจะเขียนฟังชั้น ชื่ออะไร ```def function_name() ``` 
(ขาดไม่ได้)
2.

In [ ]:
def print_name(surname,ID,name) :
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  return st

In [ ]:
print_name('ธิมาพร' , '613020553-4' , 'รอดจินดา')

'ชื่อ รอดจินดา นามสกุล ธิมาพร รหัส 613020553-4'

In [ ]:
print(print_name(name='จิริยาพร' ,surname='จันทะมาตท์' ,ID='6130'))

ชื่อ จิริยาพร นามสกุล จันทะมาตท์ รหัส 6130

In [ ]:
def Pi ( ) :
  return 3.14159265359

In [ ]:
Pi ( ) *(2**2)

12.56637061436

เราสามารถกำหนดค่า default ให้กัยฟังก์ชันได้ \\
default คือ ค่าเริ่มต้น (ค่ามันเอา)

In [ ]:
def print_2lines_default(name,surname,ID,grade= 'F ') :
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  print(st)
  st2=f'เกรดวิชา Data Viz >>> {grade}'
  print(st2)

เราใช้ เว้นวรรค (in

In [ ]:
def print_name2(name1,surname1,)

In [ ]:
for i in [1,2,3] :
  print (f'this member = {i} after process = {i**2}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

In [1]:
for i in 'Thimaporn' :
  print(f'{i} -> / ')

T -> /
h -> /
i -> /
m -> /
a -> /
p -> /
o -> /
r -> /
n -> /

In [2]:
for i in 'Thimaporn' :
  print(f'{i} -> / ' ,end = ' ' )

T -> /  h -> /  i -> /  m -> /  a -> /  p -> /  o -> /  r -> /  n -> /

In [3]:
for i in 'Thimaporn' :
  print(f'{i} -> / ' ,end = ' , ' )

T -> /  , h -> /  , i -> /  , m -> /  , a -> /  , p -> /  , o -> /  , r -> /  , n -> /  ,

In [4]:
range5_output = range(5)
print(range5_output)

range(0, 5)

In [5]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [6]:
for i in range(100) :
  print('งง' ,end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [7]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

In [13]:
for name1 in range(2,5) :
  print(f'now name1 = {name1}')
  for name2 in range(1,13) :
    print(name1,' x ',name2,' = ',name1*name2)

now name1 = 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
now name1 = 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
now name1 = 4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48

loop in function

In [14]:
list_friends = ['Aor','Mew','May','Tan','Ae']

In [15]:
def print_feeling(I,friends,feeling = 'miss') :
  for friend in friends :
    print(f'{I} {feeling} {friend}')

In [16]:
print_feeling('Nam',list_friends)

Nam miss Aor
Nam miss Mew
Nam miss May
Nam miss Tan
Nam miss Ae

condition


if condition1 :
do something
elif condition2 : #

In [21]:
for name1 in list_friends :
  for name2 in list_friends :
    if name1 == name2 :
      'do something'

    print(name1, 'love' ,name2)

Aor love Aor
Aor love Mew
Aor love May
Aor love Tan
Aor love Ae
Mew love Aor
Mew love Mew
Mew love May
Mew love Tan
Mew love Ae
May love Aor
May love Mew
May love May
May love Tan
May love Ae
Tan love Aor
Tan love Mew
Tan love May
Tan love Tan
Tan love Ae
Ae love Aor
Ae love Mew
Ae love May
Ae love Tan
Ae love Ae

In [23]:
'Aor' == 'May'

False

In [24]:
'Aor' != 'May'

True