<a href="https://colab.research.google.com/github/thimaporn-r/data_viz/blob/main/Function_Loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
name = 'ธิมาพร'
surname = 'รอดจินดา'
ID = '613020553-4'

In [3]:

b = f'ชื่อ {name} นามสกุล {surname}'
print(b)

ชื่อ ธิมาพร นามสกุล รอดจินดา

``` python 
def function_name(_Input_) :
  do_something with _Input_ to get _output_
  return _Output_
```

In [ ]:
``` python 
def function_name(_Input_) :
  do_something with _Input
```

function  มีส่วนสำคัญทั้งหมด 4 ส่วน
1. บอก python ว่าเราจะเขียนฟังชั้น ชื่ออะไร ```def function_name() ``` 
(ขาดไม่ได้)
2.

In [ ]:
def print_name(surname,ID,name) :
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  return st

In [ ]:
print_name('ธิมาพร' , '613020553-4' , 'รอดจินดา')

'ชื่อ รอดจินดา นามสกุล ธิมาพร รหัส 613020553-4'

In [ ]:
print(print_name(name='จิริยาพร' ,surname='จันทะมาตท์' ,ID='6130'))

ชื่อ จิริยาพร นามสกุล จันทะมาตท์ รหัส 6130

In [ ]:
def Pi ( ) :
  return 3.14159265359

In [ ]:
Pi ( ) *(2**2)

12.56637061436

เราสามารถกำหนดค่า default ให้กัยฟังก์ชันได้ \\
default คือ ค่าเริ่มต้น (ค่ามันเอา)

In [5]:
def print_2lines_default(name,surname,ID,grade= 'F ') :
  st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
  print(st)
  st2=f'เกรดวิชา Data Viz >>> {grade}'
  print(st2)

เราใช้ เว้นวรรค (in

In [ ]:
def print_name2(name1,surname1,)

In [ ]:
for i in [1,2,3] :
  print (f'this member = {i} after process = {i**2}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9