<a href="https://colab.research.google.com/github/thimaporn-r/data_viz/blob/main/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os 
path = '/content/drive/My Drive/1pandas'

In [4]:
covid_file_path = os.path.join(path,'pm-20-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/1pandas/pm-20-jan-2021.csv

In [5]:
a = path + '/pm-20-jan-2021.csv'
print(a)

/content/drive/My Drive/1pandas/pm-20-jan-2021.csv

load data to memory

In [6]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 10 columns]

In [7]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [8]:
data_covid.shape

(12653, 10)

## ชี้ค่าตาราง

In [9]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12648           ชลบุรี
12649            ระยอง
12650            ระยอง
12651            ระยอง
12652              ตาก
Name: province_of_onset, Length: 12653, dtype: object

In [ ]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

## .iloc

In [10]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

## Table slicing

#### ตัดเฉพาะ column ที่ต้องการ

In [11]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']]
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12648     1/20/2021  ...                             State Quarantine
12649     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651     1/20/2021  ...                                Cluster ระยอง
12652     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 3 columns]

#### ตัดเฉพาะ rows ที่ต้องการ

แบบง่าย แต่ใช้การอะไรไม่ได้

In [12]:
data_covid.iloc[1:5,:]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic qu)

In [13]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น']

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

data_covid[x] x สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ \\
1.ชื่อ column \\
2.ใส่ rows ที่ต้องการ (ใส่ list ที่มีขนาดเท่ากับจำนวนแถว แล้วบอกว่าเอา แถวไหนบ้างโดยใช้)

In [14]:
ten_rows_covid = data_covid.iloc[:10,:]
ten_rows_covid

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ
8    9     1/28/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
9   10     1/28/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[10 rows x 10 columns]

In [15]:
ten_rows_covid[[True,False,True,False,True,False,True,False,True,False,]]

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
8    9     1/28/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [16]:
ten_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร'

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
8     True
9    False
Name: province_of_onset, dtype: bool

In [17]:
ten_rows_covid[ten_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร']

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
8    9     1/28/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[7 rows x 10 columns]

HW \\
คำนวณเฉลี่ย ของผู้หญิง และผู้ชาย ของข้อมูลทั้งหมด \\
คำนวณเฉลี่ย ของผู้หญิง และผู้ชาย ของผู้ป่วยในจังหวัดขอนแก่น

In [18]:
data_covid[data_covid['risk']=='คนต่างชาติเดินทางมาจากต่างประเทศ']

         No. announce_date  ... district_of_onset                              risk
0          1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1          2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2          3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3          4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4          5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...           ...  ...               ...                               ...
9852    9853      1/9/2021  ...            แม่สอด  คนต่างชาติเดินทางมาจากต่างประเทศ
10341  10342     1/11/2021  ...            แม่สอด  คนต่างชาติเดินทางมาจากต่างประเทศ
10616  10617     1/12/2021  ...          ปทุุมวัน  คนต่างชาติเดินทางมาจากต่างประเทศ
10619  10620     1/12/2021  ...            บางรัก  คนต่างชาติเดินทางมาจากต่างประเทศ
10620  10621     1/12/2021  ...             วัฒนา  คนต่างชาติเดินทางมาจากต่างประเทศ

[155 rows x 10 columns]

In [19]:
data_covid[data_covid['risk']=='คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0]

155

### HW6

คำนวณอายุเฉลี่ย ของผู้หญิง และผู้ชาย ของข้อมูลทั้งหมด \\
คำนวณอายุเฉลี่ย ของผู้หญิง และผู้ชาย ของผู้ป่วยในจังหวัดขอนแก่น

1.

In [20]:
import statistics as stats

In [21]:
a = data_covid[['sex','age']]
wm = a[data_covid['sex']=='หญิง']
wm

        sex   age
0      หญิง  61.0
1      หญิง  74.0
2      หญิง  73.0
4      หญิง  66.0
5      หญิง  33.0
...     ...   ...
12648  หญิง  44.0
12649  หญิง  52.0
12650  หญิง  23.0
12651  หญิง  29.0
12652  หญิง  22.0

[5332 rows x 2 columns]

In [23]:
a = data_covid[['sex','age']]
men = a[data_covid['sex']=='ชาย']
men

       sex   age
3      ชาย  68.0
8      ชาย  63.0
10     ชาย  33.0
11     ชาย  61.0
12     ชาย   6.0
...    ...   ...
12640  ชาย  66.0
12641  ชาย  29.0
12643  ชาย  39.0
12646  ชาย  18.0
12647  ชาย  42.0

[4819 rows x 2 columns]

In [24]:
Mean = wm['age'].mean()
print(f'อายุเฉลี่ยผู้หญิงของผู้ป่วยทั้งหมดเท่ากับ {Mean}')

อายุเฉลี่ยผู้หญิงของผู้ป่วยทั้งหมดเท่ากับ 36.63955450022614

In [25]:
Mean = men['age'].mean()
print(f'อายุเฉลี่ยผู้ชายของผู้ป่วยทั้งหมดเท่ากับ {Mean}')

อายุเฉลี่ยผู้ชายของผู้ป่วยทั้งหมดเท่ากับ 39.46076940331987

2.

In [26]:
a = data_covid['age']
b = a[data_covid['sex']=='หญิง']
w = b[data_covid['province_of_onset']=='ขอนแก่น']
print(w)

462      36.0
1970     70.0
2637     63.0
5948     32.0
6082     36.0
11697    17.0
11698    37.0
Name: age, dtype: float64

In [27]:
a = data_covid['age']
b = a[data_covid['sex']=='ชาย']
m = b[data_covid['province_of_onset']=='ขอนแก่น']
print(m)

180      33.0
1466     19.0
2673     68.0
9333     17.0
9334     20.0
10610    17.0
11517    12.0
Name: age, dtype: float64

In [28]:
mean = stats.mean(w)
print(f'อายุเฉลี่ยผู้หญิงของผู้ป่วยในจังหวัดขอนแก่นเท่ากับ {mean}')

อายุเฉลี่ยผู้หญิงของผู้ป่วยในจังหวัดขอนแก่นเท่ากับ 41.57142857142857

In [29]:
mean = stats.mean(m)
print(f'อายุเฉลี่ยผู้ชายของผู้ป่วยในจังหวัดขอนแก่นเท่ากับ {mean}')

อายุเฉลี่ยผู้ชายของผู้ป่วยในจังหวัดขอนแก่นเท่ากับ 26.571428571428573

### 26/1

In [31]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[12653 rows x 3 columns]

In [33]:
fm = this_data[this_data['sex']=='หญิง']
fm

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
4      หญิง  66.0     กรุงเทพมหานคร
5      หญิง  33.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[5332 rows x 3 columns]

การจัดการ missing value \\
ลบ record ที่เป็น missing \\
แทนที่ ค่า missing ด้วยค่าที่เหมาะสม mean, default, category-unknown \\
ใช้ ค่าจาก column อื่นๆ ช่วยประมานค่า ค่าใน column ที่หายไป (regression, deep learning, etc.)

In [34]:
this_data = data_covid[['sex','age','province_of_onset']]

## ลบ record ที่เป็น missing
(drop_na) \\
missing =

In [35]:
this_data.shape

(12653, 3)

In [37]:
print(data_covid.shape)
print(data_covid.dropna().shape)

(12653, 10)
(6655, 10)

In [38]:
this_data.dropna().shape

(8478, 3)

In [42]:
this_data.dropna(inplace=True)
print(this_data.shape)

(8478, 3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data.shape

(12653, 3)

In [ ]:
this_data.dropna(subset=['age']).shape

การวนลูป ในตาราง