<a href="https://colab.research.google.com/github/thimaporn-r/data_viz/blob/main/Quiz_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [11]:
data1 =pd.read_csv('/content/search_click.csv')
data1

        click_timestamp  ...    ads
0               11:38.9  ...   True
1               30:51.3  ...   True
2               32:09.6  ...   True
3               00:59.8  ...   True
4               23:36.8  ...   True
...                 ...  ...    ...
1048570         05:28.8  ...  False
1048571         15:28.8  ...  False
1048572         11:49.4  ...  False
1048573         10:33.7  ...  False
1048574         13:51.4  ...  False

[1048575 rows x 6 columns]

In [13]:
data1_drop=data1.dropna()
data1_drop

        click_timestamp  ...    ads
0               11:38.9  ...   True
1               30:51.3  ...   True
2               32:09.6  ...   True
3               00:59.8  ...   True
4               23:36.8  ...   True
...                 ...  ...    ...
1048570         05:28.8  ...  False
1048571         15:28.8  ...  False
1048572         11:49.4  ...  False
1048573         10:33.7  ...  False
1048574         13:51.4  ...  False

[1048206 rows x 6 columns]

In [14]:
from datetime import datetime

In [15]:
data =pd.read_csv('/content/example_timestamp.csv')
data

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [16]:
data.columns = [i.strftime('%Y-%m-%d')if isinstance(i,datetime)else i for i in data.columns]
data

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [17]:
dataA = data[data['Unnamed: 0']>='2020-06-02']
dataA

   Unnamed: 0  alpha  beta
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [19]:
dataB = data[data['Unnamed: 0']<'2020-06-02']
dataB

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28