<a href="https://colab.research.google.com/github/thimaporn-r/data_viz/blob/main/Visualize_Data_Comparison.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
data1 =pd.read_csv('/content/search_request.csv')
data1

        Unnamed: 0                             search_id  ...        lat        long
0                0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1                1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2                2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3                3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4                4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
...            ...                                   ...  ...        ...         ...
620333      620343  cfea83d0-6d32-4cb4-bf67-8eb9d6fab85c  ...  18.742441   98.960514
620334      620344  455949ab-fe79-455e-852e-d7884d37edaa  ...  18.742441   98.960514
620335      620345  7abfb1d3-2e47-4595-bd84-15298b16dddd  ...  13.761228  100.497273
620336      620346  25b84a51-a6b6-41c0-b494-ea8a19a32cb0  ...  13.711966  100.502028
620337      620347        0c293a88-06ee-45b6-a552-b4531e  ...        NaN         NaN

[620338 rows x 10 columns]

In [7]:
from datetime import datetime

In [8]:
data1['search_timestamp'] = pd.to_datetime(data1['search_timestamp'],format='%Y-%m-%d %H%M%S',errors='coerce')

In [ ]:
plt.bar([1,2,3,4,5,6,7],[data1])